// material design palette
// deep orange, orange
$darkPrimaryColor: #E64A19;
$lightPrimaryColor: #FFCCBC;
$primaryColor: #FF5722;
$accentColor: #FF9800;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$textIconsColor: #FFFFFF;
$dividerColor: #BDBDBD;	

$backgroundColor: $lightPrimaryColor;
$headerBgColor: $darkPrimaryColor;


$mui-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);